# osx noise
.DS_Store
profile

# xcode noise
build/*
*.mode1
*.mode1v3
*.mode2v3
*.perspective
*.perspectivev3
*.pbxuser
*.xcworkspace
xcuserdata

# svn & cvs
.svn
CVS

# secrets
*.csr
*.key
*.pem
*.crt
credentials.json

# builds and temp files
temp/*

# npm
/node_modules/*
/npm-debug.log