

{% extends "html.twig" %}


{% block body %}
<body>

    {# {% include '../components/header.twig' %} #}

    <div class="pad-bottom" style="background-color: {{color}}"></div>

    <section class="bg-white c-blue@s1">

        <div class="d-flex d-block@medium">

            <div class="w-100" style="background-color: {{accent}}">
                &nbsp;
            </div>

            <div class="f-276x pad-horizontal-2x pad-top-2x">

                <a href="/#work" class="inherit fs-large" style="color: {{color}}">
                    <div class="font-thin font-smooth d-block o-hidden" style="font-size: 60px;height: 30px;">×</div>
                    back
                </a>

            </div>

        </div>

        {% block content %}{% endblock %}

    </section>

    {% include '../components/contact.twig' %}

    {% include '../components/footer.twig' %}

</body>
{% endblock %}