
.p-relative
    position relative

.p-absolute
    position absolute

.p-fixed
    position fixed

.p-bottom
    bottom 0

.p-top
    top 0

.p-left
    left 0

.p-right
    right 0

.m-center
    margin-left auto
    margin-right auto

.va-top
    vertical-align top !important

.va-middle
    vertical-align middle !important

.va-bottom
    vertical-align bottom !important

[class*='bump\@'],
[class*='nudge\@']
    position relative

.bump{'\@'}1x
    top -1px

.bump{'\@'}2x
    top -2px

.bump{'\@'}3x
    top -3px

.nudge{'\@'}1x
    bottom -1px

.nudge{'\@'}2x
    bottom -2px

.nudge{'\@'}3x
    bottom -3px