<form action="https://formspree.io/devon@expdesign.io"
      method="post" target="_blank" id="{{id}}" name="{{id}}"
      class="pad-top w-100" novalidate>

    <div class="bg-white b-bottom">
        <label for="email" class="hidden">Your Email Address</label>
        <input type="email" value="" name="_replyto" class="input-medium input-full bg-white required email" id="email" placeholder="Your Email Address">
    </div>

    <div class="bg-white b-bottom">
        <label for="subject" class="hidden">Subject Line</label>
        <input type="text" value="" name="Subject" class="input-medium input-full bg-white" id="subject" placeholder="Subject Line">
    </div>

    <div>
        <label for="message" class="hidden">Message</label>
        <div class="textarea">
            <textarea placeholder="Message" name="Message" class="input-small input-full" id="message"></textarea>
        </div>
    </div>

    <div style="position: fixed; left: -100%;" aria-hidden="true">
        <input type="text" name="_gotcha"/>
        <input type="hidden" name="_next" value="/confirm" />
    </div>

    <p>
        <button type="submit" name="Submit" id="submit" class="btn btn-large c-red b-red w-100">Send</button>
    </p>

    <p class="t-center pad-left pad-right"><small>If there's any issue email me directly; devon@expdesign.io</small></p>

</form>
