{% spaceless %}
<div class="row row@c3">

    <div class="col">

        <div class="bg-white@t2">&nbsp;</div>
        <div class="bg-white@t1">&nbsp;</div>
        <div class="bg-white">&nbsp;</div>
        <div class="bg-white@s1">&nbsp;</div>

    </div>

    <div class="col">

        <div class="bg-gray@t2">&nbsp;</div>
        <div class="bg-gray@t1">&nbsp;</div>
        <div class="bg-gray">&nbsp;</div>
        <div class="bg-gray@s1">&nbsp;</div>

    </div>

    <div class="col">

        <div class="bg-black@t2">&nbsp;</div>
        <div class="bg-black@t1">&nbsp;</div>
        <div class="bg-black">&nbsp;</div>
        <div class="bg-black@s1">&nbsp;</div>

    </div>

    <div class="col">

        <div class="bg-red@t2">&nbsp;</div>
        <div class="bg-red@t1">&nbsp;</div>
        <div class="bg-red">&nbsp;</div>
        <div class="bg-red@s1">&nbsp;</div>

    </div>

    <div class="col">

        <div class="bg-orange@t2">&nbsp;</div>
        <div class="bg-orange@t1">&nbsp;</div>
        <div class="bg-orange">&nbsp;</div>
        <div class="bg-orange@s1">&nbsp;</div>

    </div>


    <div class="col">

        <div class="bg-yellow@t2">&nbsp;</div>
        <div class="bg-yellow@t1">&nbsp;</div>
        <div class="bg-yellow">&nbsp;</div>
        <div class="bg-yellow@s1">&nbsp;</div>

    </div>

    <div class="col">

        <div class="bg-green@t2">&nbsp;</div>
        <div class="bg-green@t1">&nbsp;</div>
        <div class="bg-green">&nbsp;</div>
        <div class="bg-green@s1">&nbsp;</div>

    </div>

    <div class="col">

        <div class="bg-blue@t2">&nbsp;</div>
        <div class="bg-blue@t1">&nbsp;</div>
        <div class="bg-blue">&nbsp;</div>
        <div class="bg-blue@s1">&nbsp;</div>

    </div>

    <div class="col">

        <div class="bg-purple@t2">&nbsp;</div>
        <div class="bg-purple@t1">&nbsp;</div>
        <div class="bg-purple">&nbsp;</div>
        <div class="bg-purple@s1">&nbsp;</div>

    </div>

</div>
{% endspaceless %}