
// @require 'colors.vars.styl';

// .bg-mail {
//     background-size: 24px 12px;
//     background-image: linear-gradient(
//         45deg,
//         rgbs['red'] 12.5%,
//         transparent 12.5%,
//         transparent 25%,
//         rgbs['red'] 25%,
//         rgbs['red'] 37.5%,
//         transparent 37.5%,
//         transparent,
//         rgbs['blue'] 50%,
//         transparent 50%,
//         transparent 62.5%,
//         rgbs['blue'] 62.5%,
//         rgbs['blue'] 75%,
//         transparent 75%,
//         transparent
//     );
// }