
// base colors
c-brand = #d84747

neutrals = {
    white: rgb(253, 253, 253),
    gray: rgb(128, 128, 128),
    black: rgb(54, 54, 54)
}

rgbs = {
    red: rgb(221, 51, 53),
    orange: rgb(255, 102, 34),
    yellow: rgb(184, 134, 11),
    green: rgb(92, 167, 81),
    blue: rgb(98, 113, 188),
    purple: rgb(126, 63, 91)
}

neutraltints = {
    t1: {
        h: -22deg,
        s: 0,
        l: 22%
    },
    t2: {
        h: -22deg,
        s: 0,
        l: 39%
    }
}

neutralshades = {
    s1:  {
        h: -30deg,
        s: 0,
        l: -22%
    }
}

tints = {
    t1: {
        h: -22deg,
        s: 30%,
        l: 22%
    },
    t2: {
        h: -22deg,
        s: 15%,
        l: 39%
    }
}

shades = {
    s1:  {
        h: -30deg,
        s: -20%,
        l: -22%
    }
}

alphas = {
    '75': 0.75,
    '50': 0.5,
    '25': 0.25
}

links = {
    h: 0deg,
    s: 70%,
    l: 90%
}

bglinks = {
    h: 0deg,
    s: 25%,
    l: 15%
}




