/**
 * Mixins
 */

font-face(_name, _file, _style, _weight)
    @font-face
        font-family: _name;
        src: url('../fonts/' + _file + '.eot');
        src: url('../fonts/' + _file + '.eot?#iefix') format('embedded-opentype'),
             url('../fonts/' + _file + '.woff') format('woff'),
             url('../fonts/' + _file + '.ttf') format('truetype'),
             url('../fonts/' + _file + '.svg#oo') format('svg');
        font-style: _style;
        font-weight: _weight;