

{% extends "html.twig" %}


{% block body %}
<body>

    <!--{% include '../components/palette.twig' %}-->

    {% block content %}{% endblock %}

    {% include '../components/contact.twig' %}

    {% include '../components/footer.twig' %}

</body>
{% endblock %}