

{% extends "html.twig" %}


{% block body %}
<body>

    {% include '../components/header.twig' %}

    <h1>{{title}}</h1>

    {% block content %}{% endblock %}

    {% include '../components/footer.twig' %}

</body>
{% endblock %}