<input class="modal-a d-none" type="radio" name="formContact" id="formHire">
<input class="modal-b d-none" type="radio" name="formContact" id="formSignup">
<input class="modal-x d-none" type="radio" name="formContact" id="formClose" checked>

<div class="overlay p-fixed i@5 modal modal-a">
    <label for="formClose" class="overlay p-absolute bg-blue@s1@75"></label>
    <div class="wrap-mid0 wrap-min@min c-blue@s1">
        <div class="row vh-100 d-flex fa-center">
            <div class="col12 bg-white c-blue@s1 up soft p-relative">
                <div style="height:8px" class="bg-red@striped"></div>
                <label for="formClose" class="pad p-absolute p-right cursor-pointer" style="font-size: 40px;">×</label>
                <div class="pad-2x">
                    {% include 'form.contact.twig' with {'id':'contact-modal'} %}
                </div>
            </div>
        </div>
    </div>
</div>

<div class="overlay p-fixed i@5 modal modal-b">
    <label for="formClose" class="overlay p-absolute bg-blue@s1@75"></label>
    <div class="wrap-mid0 wrap-min@min c-blue@s1">
        <div class="row vh-100 d-flex fa-center">
            <div class="col12 bg-white c-blue@s1 up soft p-relative">
                <div style="height:8px" class="bg-red@striped"></div>
                <label for="formClose" class="pad p-absolute p-right cursor-pointer" style="font-size: 40px;">×</label>
                <div class="pad-2x">
                    {% include 'form.signup.twig' with {'id':'signup-modal'} %}
                </div>
            </div>
        </div>
    </div>
</div>