<header class="bg-white c-red t-center">

    <div class="height@96x d-flex fa-center jc-center add-horizontal b-bottom b-gray@t2">

        <nav class="nav">

            <a href="/" title="Home" class="nudge@3x inherit">
                {% include '../../icons/svg/exp.logo.twig' with {'color': 'red', 'width': 29} %}
            </a>

            <a href="/#work" title="Work" class="inherit">
                work
            </a>

            <a href="/#capabilities" title="Capabilities" class="inherit">
                capabilities
            </a>

            <a href="about" title="About" class="inherit">
                about
            </a>

            <!--<a href="/portfolio" title="View Portfolio" class="inherit">
                portfolio
            </a>-->

            <!--<a href="/resume" title="View Resume" class="inherit">
                resume
            </a>-->

            <label for="formHire" class="cursor-pointer" title="Contact">
                contact
            </label>

        </nav>

    </div>

</header>