---
title: 'Clark | Work | exp. design'
layout: 'layouts/default.pug'
breadcrumbs: ['Work', 'Clark']
---

section(class='px-5 tablet:px-8 max-w-large pb-8 mb-8 xlarge:mx-auto')
  h2(class='sr-only') Clark

  div(class='pb-3 mb-6')
    div(class='relative overflow-hidden text-center mb-4' style='height: 400px; background-color: #EA4900')
      img(src='/img/clark-logo.svg' width='97' height='17' class='inline-block mt-6')

      img(class='absolute bottom-0' src='/img/clark-thumb.png' width='240' height='466' style='margin-bottom: -180px; margin-left: -120px; left: 50%;')

    div
      p Clark is an ed-tech startup bridging the education gap by providing tools to help independent educators grow their businesses. I provided design and development services to support the initial product launch and marketing campaign. I used their existing brand identity elements, including the logo, typography, colors, and illustrations, and extended them into the following deliverables.

      ul
        li
          a(href='#marketing-site-design-and-development') Marketing site design and development
        li
          a(href='#social-media-marketing-assets') Social media marketing assets
        li
          a(href='#ios-app-onboarding-screens-for-tutors') iOS app onboarding screens for tutors
        li
          a(href='#sign-up-flow-for-tutors') Sign-up flow for tutors
        li
          a(href='#product-user-interface-ui-for-parents') Product user interface (UI) for parents

      p In addition to designing these assets, I engineered the UI of the marketing site, sign-up flow, and marketing email templates. I created a light design system using a customized version of the Material Web Components and a CSS utility library. This design system utilized design tokens from the brand identity to customize the components in the library.

      h3(id='marketing-site-design-and-development') Marketing site design and development

      figure(class='figure')
        div(class='figure__matte flex items-center justify-center p-4 tablet:p-8 bg-t1' style='height: auto')
          img(class='mx-auto' src='/img/clark-homepage.png' loading='lazy' decoding='async' width='1440' height='5343' alt='Screenshot of the hiclark.com homepage.')
        figcaption(class='static') The homepage of the hiclark.com marketing site catering to tutors looking to scale their business.

      figure(class='figure')
        div(class='figure__matte flex items-center justify-center p-4 tablet:p-8 bg-t1' style='height: auto')
          img(class='mx-auto' src='/img/clark-parent-student-landing.png' loading='lazy' decoding='async' width='1440' height='2540' alt='Screenshot of the parent landing page for hiclark.com.')
        figcaption(class='static') The landing page for parents looking for tutors on Clark.

      figure(class='figure')
        div(class='figure__matte flex items-center justify-center p-4 tablet:p-8 bg-t1' style='height: auto')
          img(class='mx-auto' src='/img/clark-planet-of-the-apps-landing.png' loading='lazy' decoding='async' width='1440' height='5028' alt='Screenshot of page promoting Clark\'s appearance on Planet of the Apps.')
        figcaption(class='static') The landing page promoting Clark's appearance on Apple TV's Planet of the Apps.

      h3(id='social-media-marketing-assets') Social media marketing assets

      figure(class='figure')
        div(class='figure__matte flex items-center justify-center p-4 tablet:p-8 bg-t1' style='height: auto')
          img(class='mx-auto' src='/img/clark-adds-student.png' loading='lazy' decoding='async' width='1317' height='631' alt='Screenshots of Facebook ad assets.')
        figcaption(class='static') Variations of Facebook ad assets created for students looking for tutors.

      figure(class='figure')
        div(class='figure__matte flex items-center justify-center p-4 tablet:p-8 bg-t1' style='height: auto')
          img(class='mx-auto' src='/img/clark-adds-tutors.png' loading='lazy' decoding='async' width='1317' height='631' alt='Screenshots of Facebook ad assets.')
        figcaption(class='static') Variations of Facebook ad assets created for tutors looking to grow their business.

      h3(id='ios-app-onboarding-screens-for-tutors') iOS app onboarding screens for tutors

      figure(class='figure')
        div(class='figure__matte flex flex-col desktop:flex-row items-center justify-center p-4 tablet:p-8 bg-t1' style='height: auto')
          img(class='mb-8 desktop:my-0 mx-auto' src='/img/clark-app-splash-build.png' loading='lazy' decoding='async' width='300' alt='Screenshot of the first iOS app onboarding screen.')
          img(class='mb-8 desktop:my-0 mx-auto' src='/img/clark-app-splash-market.png' loading='lazy' decoding='async' width='300' alt='Screenshot of the second iOS app onboarding screen.')
          img(class='desktop:my-0 mx-auto' src='/img/clark-app-splash-grow.png' loading='lazy' decoding='async' width='300' alt='Screenshot of the third iOS app onboarding screen.')

        figcaption(class='static') Splash screens created to onboard users to the iOS app experience of Clark.

      div(class='tablet:flex justify-between items-center mb-4')
        h3(id='sign-up-flow-for-tutors' class='tablet:m-0') Sign-up flow for tutors

        span(class='flex items-center')
          span(class='mie-1') Scroll horizontally to see more
          svg(class='icon' aria-hidden='true')
            use(xlink:href='#tabler-arrow-bar-right')

      figure(class='figure figure-scroll')
        div(class='figure__matte h-auto')
          div(class='small p-3 bg-t1')
            p <b>Step 1: Credentials</b>
          img(class='block' src='/img/clark-signup-credentials.png' loading='lazy' decoding='async' alt='Screenshot of the credentials step of the tutor sign-up flow. Features an email and password form with submit button.')

        div(class='figure__matte h-auto')
          div(class='small p-3 bg-t1')
            p <b>Step 2: Personal Details</b>
          img(class='block' src='/img/clark-signup-information.png' loading='lazy' decoding='async' alt='Screenshot of the personal details step of the tutor sign-up flow. Features a form with first, last, profile name, location, subjects, and rate form fields.')

        div(class='figure__matte h-auto')
          div(class='small p-3 bg-t1')
            p <b>Step 3: Brief Personal Description</b>
          img(class='block' src='/img/clark-signup-about.png' loading='lazy' decoding='async' alt='Screenshot of the personal description step of the tutor sign-up flow. Features a 500 word textarea form field with word count for tutors to describe themselves.')

        div(class='figure__matte h-auto')
          div(class='small p-3 bg-t1')
            p <b>Step 4: Qualifications Entry</b>
          img(class='block' src='/img/clark-signup-qualifications.png' loading='lazy' decoding='async' alt='Screenshot of the qualifications entry step of the tutor sign-up flow. Features a 500 word textarea form field with word count for tutors to describe their qualifications.')

        div(class='figure__matte h-auto')
          div(class='small p-3 bg-t1')
            p <b>Step 5: Testimonials and References</b>
          img(class='block' src='/img/clark-signup-testimonials.png' loading='lazy' decoding='async' alt='Screenshot of the testimonials entry step of the tutor sign-up flow. Features a form field with up to 3 testimonials to add.')

        div(class='figure__matte h-auto')
          div(class='small p-3 bg-t1')
            p <b>Step 6: Profile Picture Preview</b>
          img(class='block' src='/img/clark-signup-avatar.png' loading='lazy' decoding='async' alt='Screenshot of the head shot upload step of the tutor sign-up flow. Features a circular image uploader.')

        div(class='figure__matte h-auto')
          div(class='small p-3 bg-t1')
            p <b>Step 7: Profile Picture Uploaded</b>
          img(class='block' src='/img/clark-signup-avatar-uploaded.png' loading='lazy' decoding='async' alt='Screenshot of the head shot preview step of the tutor sign-up flow. Features a circular image avatar with a sample tutor image.')

        div(class='figure__matte h-auto')
          div(class='small p-3 bg-t1')
            p <b>Step 8: Profile Review</b>
          img(class='block' src='/img/clark-signup-preview.png' loading='lazy' decoding='async' alt='Screenshot of the profile preview step of the tutor sign-up flow. Features a profile page with the information previously entered on display.')

        div(class='figure__matte h-auto')
          div(class='small p-3 bg-t1')
            p <b>Step 9: Profile Editing Screen</b>
          img(class='block' src='/img/clark-signup-edit.png' loading='lazy' decoding='async' alt='Screenshot of the profile editing screen where a tutor can edit the information they\'ve added from previous sign-up steps.')

        div(class='figure__matte h-auto')
          div(class='small p-3 bg-t1')
            p <b>Step 10: Profile Pending Review</b>
          img(class='block' src='/img/clark-signup-pending.png' loading='lazy' decoding='async' alt='Screenshot of the profile pending review, similar to the previous screens.')

      div(class='tablet:flex justify-between items-center mb-4')
        h3(id='product-user-interface-ui-for-parents' class='tablet:m-0') Product UI, dashboard for parents

        span(class='flex items-center')
          span(class='mie-1') Scroll horizontally to see more
          svg(class='icon' aria-hidden='true')
            use(xlink:href='#tabler-arrow-bar-right')

      figure(class='figure figure-scroll')
        div(class='figure__matte h-auto' style='background-color: #EBE9E1')
          div(class='small p-3 bg-t1')
            p <b>Upcoming Sessions</b>
          img(class='block' src='/img/clark-parent-dashboard.png' loading='lazy' decoding='async' alt='Screenshot of the product dashboard for parents featuring a list of upcoming sessions in a calendar format and a booking link for a new session.')

        div(class='figure__matte h-auto' style='background-color: #EBE9E1')
          div(class='small p-3 bg-t1')
            p <b>Upcoming Sessions Expanded</b>
          img(class='block' src='/img/clark-parent-dashboard-open-session.png' loading='lazy' decoding='async' alt='Screenshot of the product dashboard for parents featuring a list of upcoming sessions expanded with more details of the session.')

        div(class='figure__matte h-auto' style='background-color: #EBE9E1')
          div(class='small p-3 bg-t1')
            p <b>Session Booking Flow: Verify Contact Information</b>
          img(class='block' src='/img/clark-session-booking.png' loading='lazy' decoding='async' alt='Screenshot of the session booking screen where a parent needs to update their contact information using a form with input fields such as name, email, phone, and date range pickers.')

        div(class='figure__matte h-auto' style='background-color: #EBE9E1')
          div(class='small p-3 bg-t1')
            p <b>Session Booking Flow: Verify Payment</b>
          img(class='block' src='/img/clark-session-booking-payment.png' loading='lazy' decoding='async' alt='Screenshot of the payment screen where a parent enters their payment information.')

        div(class='figure__matte h-auto' style='background-color: #EBE9E1')
          div(class='small p-3 bg-t1')
            p <b>Session Booking Flow: Pick a Session</b>
          img(class='block' src='/img/clark-session-booking-session.png' loading='lazy' decoding='async' alt='Screenshot of the date picking screen with three date options in a calendar card format as well as a date picker for suggesting a custom date.')

      a(href='/work' class='btn btn-primary') Back to work
