

body
    margin 0
    padding 0

img, object, embed, svg
    max-width 100%

a
    color inherit
    text-decoration none

a:not(.inherit):not(.btn)
    padding 0 3px

.link
    cursor pointer

p
    margin-top 12px
    margin-bottom 12px

p a
    padding 0
