/**
 * Dependencies
 */

@require 'grid.vars.styl';


/**
 *
 */

.d-flex
    display flex

.f-1
    flex 1

.f-276x
    flex 0 0 276px

.fa-center
    align-items center

.jc-center
    justify-content center

.o--1
    order -1

.o-1
    order 1

.o-2
    order 2

.o-3
    order 3

.d-table
    display table

.d-inline-block
    display inline-block

.d-block
    display block

.d-inline
    display inline

.d-none
    display none

.hidden
    position absolute
    width 0
    height 0
    margin 0
    padding 0
    overflow hidden

.overlay
    width 100%
    height 100%
    top 0
    left 0

.i{'\@0'}
    z-index 0

.i{'\@1'}
    z-index 1010

.i{'\@2'}
    z-index 1020

.i{'\@3'}
    z-index 1030

.i{'\@4'}
    z-index 1040

.i{'\@5'}
    z-index 1050

.i{'\@6'}
    z-index 1060

.up
    box-shadow 0 7px 18px rgba(0,0,0,.2);

.o-scroll
    overflow hidden
    overflow-y auto

for _b, b in breaks
    @media only screen and (max-width : b)
        .d-inline-block{'\@'}{_b}
            display inline-block !important

        .d-block{'\@'}{_b}
            display block !important

        .d-none{'\@'}{_b}
            display none !important


