{% extends "templates/base/page.twig" %}

{% block content %}

{% for t in text %}
<p>{{t}}</p>
{% endfor %}

<div class="pad-top-3x">
    <label for="formHire" class="btn btn-large c-red b-red" title="Contact">Contact</label>
</div>

{% endblock %}