---
title: 'exp. design'
layout: 'layouts/default.pug'
---

section(class='px-5 tablet:px-8 max-w-large pb-8 mb-8 xlarge:mx-auto')
  header
    h2(class='small border-b border-t1 pb-2 mb-4')
      a(id='introduction' href='#introduction' class='flex mis--4 mie-1 no-underline')
        svg(class='icon' aria-hidden='true')
          use(xlink:href='#tabler-hash')

      | Introduction

  blockquote Experiences are moments facilitated by design. Often these moments are solutions to problems – created to help us live more fulfilling lives.

  p exp. design provides digital product design and front-end engineering for companies and organizations creating positive social impact.

  a(href='/about' class='btn btn-primary') Learn more

section(class='px-5 tablet:px-8 max-w-large pb-8 mb-8 xlarge:mx-auto')
  header
    h2(class='small border-b border-t1 pb-2 mb-0')
      a(id='capabilities' href='#capabilities' class='flex mis--4 mie-1 no-underline')
        svg(class='icon' aria-hidden='true')
          use(xlink:href='#tabler-hash')

      | Capabilities

  div(class='tablet:grid grid-cols-2 gap-x-8')
    div(class='relative')
      div(class='sticky top-0 py-4')
        include ./_includes/partials/capabilities.svg

    div(class='grid grid-cols-1 gap-y-8 pt-4')
      div
        h3 Brand Identity Design

        p Your brand identity embodies the mission and vision of your product. It helps maintain the continuity of experience and recollective value with your audience.

      div
        h3 User Experience (UX) Research

        p UX Research helps build empathy for your audience. It also generates valuable quantitative insights and context for your quantitative data to improve your product usability.

      div
        h3 User Interface (UI) Design

        p User interfaces facilitate memorable experiences with your brand identity and help your audience achieve their objectives.

      div
        h3 Front-end Development

        p Front-end development is crafting your experience adhering to the latest standards in web technology and accessibility.

      div
        h3 Data Visualization

        p Data drives your organization, and visualizations communicate complex ideas and identify patterns for successful products.

section(class='px-5 tablet:px-8 max-w-large pb-8 mb-8 xlarge:mx-auto')
  header
    h2(class='small border-b border-t1 pb-2 mb-4')
      a(id='work' href='#work' class='flex mis--4 mie-1 no-underline')
        svg(class='icon' aria-hidden='true')
          use(xlink:href='#tabler-hash')

      | Work

  a(href='/work' class='btn btn-primary') View work
