---
title: 'Patterns | exp. design'
layout: 'layouts/default.pug'
---

section(id='typography')
  header
    div(class='px-8 max-w-large')
      h2(class='py-4 m-0')
        a(href='#typography' class='flex mis--5 mie-1 no-underline')
          svg(class='icon w-4 h-4' aria-hidden='true')
            use(xlink:href='#tabler-hash')

        | Typography

  div(class='py-8 bg-t1')
    div(class='px-8 max-w-large')
      h3(class='border-b border-t0 pb-2')
        a(id='headings' href='#headings' class='flex mis--4 mie-1 no-underline')
          svg(class='icon' aria-hidden='true')
            use(xlink:href='#tabler-hash')

        | Typefaces

      h4 Inter

      h5(class='h1 font-normal primary') The quick brown fox jumps over the lazy dog

      b
        a(href='https://github.com/rsms/inter' target='_blank') Source

      h4 Work Sans

      h5(class='h1 font-normal secondary') The quick brown fox jumps over the lazy dog

      b
        a(href='https://github.com/weiweihuanghuang/Work-Sans' target='_blank') Source

      h3(class='border-b border-t0 pb-2')
        a(id='headings' href='#headings' class='flex mis--4 mie-1 no-underline')
          svg(class='icon' aria-hidden='true')
            use(xlink:href='#tabler-hash')

        | Font Features

      div(class='font-normal primary pb-2')
        p
          b Primary
          br
          | 0123456789
          br
          | 9876543210

      div(class='font-normal secondary')
        p
          b Secondary
          br
          | 0123456789
          br
          | 9876543210

  div(class='py-8 bg-t1')
    div(class='px-8 max-w-large')
      h3(class='border-b border-t0 pb-2')
        a(id='headings' href='#headings' class='flex mis--4 mie-1 no-underline')
          svg(class='icon' aria-hidden='true')
            use(xlink:href='#tabler-hash')

        | Headings

      h1 The quick brown fox jumps over the lazy dog

      h2 The quick brown fox jumps over the lazy dog

      h3 The quick brown fox jumps over the lazy dog

      h4 The quick brown fox jumps over the lazy dog

      h5 The quick brown fox jumps over the lazy dog

      h6 The quick brown fox jumps over the lazy dog

      h3(class='border-b border-t0 pb-2 mt-6')
        a(id='blockquote' href='#blockquote' class='flex mis--4 mie-1 no-underline')
          svg(class='icon' aria-hidden='true')
            use(xlink:href='#tabler-hash')

        | Blockquote

      blockquote Experiences are moments facilitated by design. Often these moments are solutions to problems – created to help us live more fulfilling lives.

      h3(class='border-b border-t0 pb-2 mt-6')
        a(id='small' href='#small' class='flex mis--4 mie-1 no-underline')
          svg(class='icon' aria-hidden='true')
            use(xlink:href='#tabler-hash')

        | Small

      small exp. design helps move social impact forward

      h3(class='border-b border-t0 pb-2 mt-6')
        a(id='paragraphs' href='#paragraphs' class='flex mis--4 mie-1 no-underline')
          svg(class='icon' aria-hidden='true')
            use(xlink:href='#tabler-hash')

        | Paragraphs

      p My digital product experience ranges from the front-end of research all the way to engineering and delivery. Currently, I'm working with The Mayor's Office for Economic Opportunity (NYC Opportunity), part of the Mayor's Office of Operations, which works to reduce poverty and broaden opportunity for New York City residents. As a designer and engineer I have come up against many challenges, both creative and technical, and I derive a great deal of satisfaction overcoming them. One of the ways of doing that I value the most is listening to people and using their insight to solve complex problems.

      h3(class='border-b border-t0 pb-2 mt-6')
        a(id='links' href='#links' class='flex mis--4 mie-1 no-underline')
          svg(class='icon' aria-hidden='true')
            use(xlink:href='#tabler-hash')

        | Links

      a(href='#links') Links

      h3(class='border-b border-t0 pb-2 mt-6')
        a(id='highlight' href='#highlight' class='flex mis--4 mie-1 no-underline')
          svg(class='icon' aria-hidden='true')
            use(xlink:href='#tabler-hash')

        | Highlight

      mark Mayor's Office for Economic Opportunity

section(id='forms')
  header
    div(class='px-8 max-w-large')
      h2(class='py-4 m-0')
        a(href='#forms' class='flex mis--5 mie-1 no-underline')
          svg(class='icon w-4 h-4' aria-hidden='true')
            use(xlink:href='#tabler-hash')

        | Forms

  div(class='py-8 bg-t1')
    div(class='px-8 max-w-large')

      h3(class='border-b border-t0 pb-2 mt-6')
        a(id='questions' href='#questions' class='flex mis--4 mie-1 no-underline')
          svg(class='icon' aria-hidden='true')
            use(xlink:href='#tabler-hash')

        | Questions

      div(class='question')
        label(class='label') Question label

        div
          div(class='input')
            input(type='text' placeholder='Answer')

      h3(class='border-b border-t0 pb-2 mt-6')
        a(id='buttons' href='#buttons' class='flex mis--4 mie-1 no-underline')
          svg(class='icon' aria-hidden='true')
            use(xlink:href='#tabler-hash')

        | Buttons

      button(class='btn') Button
      | &nbsp;
      a(href='#' class='btn') Link
      | &nbsp;
      button(class='btn btn-primary') Button
      | &nbsp;
      a(href='#' class='btn btn-primary') Link

      h3(class='border-b border-t0 pb-2 mt-6')
        a(id='select' href='#select' class='flex mis--4 mie-1 no-underline')
          svg(class='icon' aria-hidden='true')
            use(xlink:href='#tabler-hash')

        | Select

      div(class='question')
        label(class='label') Question label

        div
          div(class="select")
            select
              option Select an Option
              option(disabled) ---
              option Option

            svg(aria-hidden="true" class="select__graphic")
              use(xlink:href="#select-graphic")

      h3(class='border-b border-t0 pb-2 mt-6')
        a(id='options' href='#options' class='flex mis--4 mie-1 no-underline')
          svg(class='icon' aria-hidden='true')
            use(xlink:href='#tabler-hash')

        | Options

      div(class='question')
        label(class='label') Question label

        div
          fieldset
            label(class='opt' for='opt-a')
              input(id='opt-a' name='opt["radio"]' type='radio' value='opt-a' class='sr-only')

              span(class='opt__base')
                svg(aria-hidden='true' class='opt__graphic')
                  use(xlink:href='#radio-graphic')

                span(class='opt__label') Radio Option A
            | &nbsp;
            label(class='opt' for='opt-b')
              input(id='opt-b' name='opt["radio"]' type='radio' value='opt-b' class='sr-only')

              span(class='opt__base')
                svg(aria-hidden='true' class='opt__graphic')
                  use(xlink:href='#radio-graphic')

                span(class='opt__label') Radio Option B

      div(class='question')
        label(class='label') Question label

        div
          fieldset
            label(class='opt' for='opt-check')
              input(id='opt-check' name='opt["checkbox"]' type='checkbox' value='opt-check' class='sr-only')
              span(class='opt__base')
                svg(aria-hidden='true' class='opt__graphic')
                  use(xlink:href='#checkbox-graphic')

                span(class="opt__label") Option Check
