

{% extends "templates/base/page.twig" %}


{% block content %}

<nav>
    {% for s in sitemap %}
    <a href="{{s.url}}" title="{{s.title}}">{{s.title}}</a><br>
    {% endfor %}
</nav>

{% endblock %}