---
title: 'Work | exp. design'
layout: './../../../_includes/layouts/exp.pug'
---

section(class='px-5 tablet:px-8 max-w-large pb-8 mb-8 xlarge:mx-auto')
  header
    h2(class='small border-b border-t1 pb-2 mb-4')
      a(id='introduction' href='#introduction' class='flex mis--4 mie-1 no-underline')
        svg(class='icon' aria-hidden='true')
          use(xlink:href='#tabler-hash')

      | Work

    blockquote My work involves long term engagements with clients.

    p These have typically involved embedding myself within the product team to develop a cadence of deliverables from user research (UX), identity development, user interface (UI) design, and the production of various assets needed to create a compelling experience with my client's products. Below are a few clients that I have worked with.

    div(class='pb-3 mb-6')
      div(class='relative overflow-hidden text-center mb-4' style='height: 400px; background-color: #EA4900')
        img(src='img/clark.logo.svg' width='97' height='17' class='inline-block mt-6')

        img(class='absolute bottom-0' src='img/clark.thumb.png' width='240' height='466' style='margin-bottom: -180px; margin-left: -120px; left: 50%;')

      div
        p Clark is an ed-tech startup bridging the education gap by providing tools to help independent educators grow their businesses. I provided design and development services to support the initial product launch and marketing campaign. Deliverables included the following.

        ul
          li Marketing site design and development
          li Social media marketing assets
          li User acquisition and onboarding experiences
          li User interface (UI) designs
          li Email newsletter design and development

        p During the time of my engagement with Clark, they were in the very early stages of launching their product. Since then they have been acquired by another ed-tech startup.

        //- a(href='https://hiclark.com' class='btn' target='_blank') View more on Behance

    div(class='pb-3 mb-6')
      div(class='relative overflow-hidden text-center mb-4' style='height: 400px; background-color: #FE4682')
        img(src='img/hellosmile.logo.svg' width='106' height='67' class='inline-block pt-4')

        img(class='absolute bottom-0' src='img/hellosmile.thumb.png' width='350' height='350' style='margin-left: -175px; margin-bottom: -78px; left: 50%;')

      div
        p hellosmile is a dental practice management group that provides innovative and compassionate community healthcare. I worked with hellosmile to assist the primary users of their website (parents, providers, and changemakers) in finding the information they need when visiting their site. I did this by redesigning and developing the homepage experience as well as producing additional landing page designs.

        //- a(href='https://www.hellosmile.com' class='btn' target='_blank') View more on Behance

    div(class='pb-3 mb-6')
      a(href='https://www.behance.net/expdsgn' class='btn btn-primary' target='_blank') View more work on Behance
