/**
 * Dependencies
 */

@require 'grid.vars.styl';
@require 'fonts.vars.styl';
@require 'fonts.mixins.styl';


/**
 * Tasks
 */

font-face('Siro Extra Light', 'Siro-ExtraLight', normal, weight-thin)
font-face('Siro Light', 'Siro-Light', normal, weight-light)
font-face('Siro SemiBold', 'Siro-SemiBold', normal, weight-semibold)

body
    color color-base
    {font-light}
    {font-smooth}

h1, .h1, h2, .h2, h3, .h3
    {font-light}
    // letter-spacing 0.025em
    margin-bottom 20px

h1, .h1
    {font-thin}
    font-size 66px
    line-height 70px

h2, .h2
    font-size 36px
    line-height 42px

h3, .h3
    {font-semibold}
    font-size 20px
    line-height 24px
    margin-bottom 6px

.font-thin
    {font-thin}

.font-light
    {font-light}

.font-semibold
    {font-semibold}

for i in (1..6)
    * > h{i}:first-child
        margin-top 0px

input, button,
select, textarea
    {font-light}

select, textarea, input
    {font-aliased}

body
    font-size 16px
    line-height 24px

small
    font-size 80%

blockquote
    font-size 36px
    line-height 46px

.bq-left
    border-left 12px solid rgba(0, 0, 0, 0.09)
    padding-left 20px

.bq-right
    border-right 12px solid rgba(0, 0, 0, 0.09)
    padding-right 20px

.fs-large
    font-size 18px
    line-height 28px

.fs-small
    font-size 13px
    line-height 22px

// for _b, b in breaks
//     @media only screen and (max-width : b)
//         body
//             font-size 18px
//             line-height 28px

