.b
    border 1px solid

.b-top
    border-top 1px solid

.b-bottom
    border-bottom 1px solid

.b-left
    border-left 1px solid

.b-right
    border-right 1px solid

.b-2x
    border-width 2px

.b-3x
    border-width 3px

.b-4x
    border-width 4px

.b-5x
    border-width 5px

.b-6x
    border-width 6px

.soft
    border-radius 3px

.soft-bottom
    border-bottom-left-radius 3px
    border-bottom-right-radius 3px

.soft-top
    border-top-left-radius 3px
    border-top-right-radius 3px
