/**
 * Dependencies
 */

@require 'grid.vars.styl';


/**
 * Tasks
 */

.btn
    color inherit
    font-size 13px
    line-height 18px
    vertical-align middle
    background-color inherit
    display inline-block
    min-height 18px
    padding 4px 6px

.btn{':not(.\@inherit)'}
    cursor pointer

.btn-large
    font-size 22px
    line-height 40px
    padding margins - 3 margins * 2 margins - 2
    border 3px solid
    border-radius 3px

.btn-full
    width 100%

.btn-flush{'\@left'}
    padding-left 0
    border-left 0
    border-top-left-radius 0
    border-bottom-left-radius 0

.btn-flush{'\@right'}
    padding-right 0
    border-right 0
    border-top-right-radius 0
    border-bottom-right-radius 0



