/**
 * Dependencies
 */

@require 'colors.vars.styl';


/**
 * Variables
 */

weight-black = 800;
weight-extrabold = 700;
weight-bold = 600;
weight-semibold = 500;
weight-base = 400; // for regular, book, and alt variants
weight-light = 300;
weight-thin = 200;

color-base = neutrals.black


/**
 * Blocks
 */

font-thin = @block {
    font-family: 'Font Name Extra Light'
    font-weight: weight-thin
}

font-light = @block {
    font-family: 'Font Name Light'
    font-weight: weight-light
}

font-semibold = @block {
    font-family: 'Font Name Semi Bold'
    font-weight: weight-bold
}

font-smooth = @block {
    text-rendering: optimizeLegibility
     -webkit-font-smoothing: antialiased
    -moz-osx-font-smoothing: grayscale
}

font-aliased = @block {
    -webkit-font-smoothing: subpixel-antialiased
    -moz-osx-font-smoothing: auto
}

h1 = @block {
    font-size: 66px
    line-height: 70px
}

h2 = @block {
    font-size: 36px
    line-height: 42px
}

h3 = @block {
    font-size: 20px
    line-height: 24px
    margin-bottom: 6px
}

large = @block {
    font-size: 18px
    line-height: 28px
}

small = @block {
    font-size: 13px
    line-height: 22px
}




