/**
 * Variables
 */

cols = 12
margins = 12px
shims = 34
maxheight = cols * shims
multiplier = 3

range = {
    max: 1435px
    mid1: 1024px
    mid0: 540px
    min: 321px
}

gutters = {
    '': margins,
    -bottom: margins,
    -right: margins,
    -top: margins,
    -left: margins
}

breaks = {
    large: 1224px,
    medium: 768px,
    small: 321px
}