

a, [class*='icon-'], input, textarea, select, label, th, td, .btn, .select
    transition-property opacity, background, color, border, box-shadow, outline, padding, margin, transform
    transition-duration 0.25s

path, line, rect, circle, text
    transition-property opacity, stroke-width, stroke, fill, transform
    transition-duration 0.25s

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder
    transition color 0.25s