{% extends "templates/base/page.twig" %}

{% block content %}

{% for t in text %}
<p>{{t}}</p>
{% endfor %}

<p>Questions? Comments? Please feel free to <label for="formHire" class="cursor-pointer" title="Contact">reach out</label>.</p>

<label for="formHire" class="btn btn-large c-red b-red" title="Contact">Contact</label>

{% endblock %}