footer(class='footer')
  div(class='relative mie-3 pb-3')
    nav(class='small text-end mie-5')
      span(class='mx-1 tablet:mx-2') © 2021 exp. design llc

      a(href='/' class='mx-1 tablet:mx-2') Home

      a(href='/about' class='mx-1 tablet:mx-2') About

      a(href='/work' class='mx-1 tablet:mx-2') Work

    nav(class='nav-side pb-3')
      a(href='https://devonhirth.com' title='Devon Hirth')
        svg(class='icon w-3 h-3' aria-hidden='true')
          use(xlink:href='#tabler-user')

        span(class='sr-only') Devon Hirth

      a(href='https://twitter.com/expdsgn' title='Twitter')
        svg(class='w-3 h-3' aria-hidden='true')
          use(xlink:href='#twitter')

        span(class='sr-only') Twitter

      a(href='https://www.facebook.com/expdsgn' title='LinkedIn')
        svg(class='w-3 h-3' aria-hidden='true')
          use(xlink:href='#facebook')

        span(class='sr-only') Facebook

      a(href='https://www.linkedin.com/company/expdsgn' title='LinkedIn')
        svg(class='w-3 h-3' aria-hidden='true')
          use(xlink:href='#linkedin')

        span(class='sr-only') LinkedIn

      a(href='https://github.com/expdsgn' title='GitHub')
        svg(class='w-3 h-3' aria-hidden='true')
          use(xlink:href='#github')

        span(class='sr-only') GitHub
