header(class='py-4 mb-4 tablet:py-8 tablet:mb-8')
  div(class='px-5 tablet:px-8 max-w-large xlarge:mx-auto')
    h1(class='h2')
      a(href='/' class='no-underline')
        span(class='sr-only')
          = site.name

        svg(aria-hidden='true' class='block' style="width: 340px; height: 66px;")
          use(xlink:href='#logo-exp-design')